body{
    background-color: rgb(63, 168, 230);
    color: white;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200px;
}

main{
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 56px;
    line-height: 12px;
}

span{
    color: rgb(12, 223, 195);
    font-size: 70px;
}

p{
    line-height: 50px;
    font-weight: 200;
    max-width: 500px;
    font-size: 40px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 600px;
    margin-left: 300px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

a:hover{
    color: aqua;
    transition: 0.3s all;
}

#insc{
    border: solid rgb(54, 209, 188);
    padding: 10px;
    border-radius: 20px;
}

#insc:hover{
    background-color: rgb(54, 209, 188) ;
    color: white;
}

#submit{
    height: 50px;
    width: 50%;
    background-color:rgb(60, 214, 206);
    color: white;
    font-weight: bold;
}

#submit:hover{
cursor: pointer;
transition: 0.3s ;

}
#btn{
    background-color: rgb(60, 214, 206);
    border: none;
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: px;
    margin-right: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50px;
}

#btn:hover{
        background-color:  rgb(83, 184, 243);
        color: white;
        transition: background-color 0.3s ;
}

.foot{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    text-align: center;
}

#footp{
    font-size: 33px;
}

